<div>
    <h4>{{localize "SWEETNOTHINGS.GREETINGS.Title"}}</h4>
    <p>{{localize "SWEETNOTHINGS.GREETINGS.Description"}}</p>
    <p>{{localize "SWEETNOTHINGS.GREETINGS.Defaults"}}</p>
    <p><button type="button" class="sweetNothingsInitialConfig" data-action="openConfig"><i class="fas fa-wrench"></i>{{localize "SWEETNOTHINGS.BUTTONS.CONFIGURE"}}</button></p>
</div>