#sweetNothingsDialog .sweetNothingsMessageBox { height: 300px; }
#sweetNothingsDialog .editor { height: 100%; }
#sweetNothingsDialog .tox { height: 100%; min-height: 100%; }

#sweetNothingsTargets option::before { font-family: FontAwesome; content: "\f096"; width: 1.3em; text-align: center; display: inline-block; margin-left: 2px; }
#sweetNothingsTargets option:checked::before { content: "\f046"; }

#sweetNothingsDialog input[type='checkbox'] { height: 14px; margin: 1px 2px; }
#sweetNothingsDialog .sweetNothingsPlayerList span { display: inline-block; }

#sweetNothingsDialog .sweetNothingsChatmodeSelect { margin-top: 6px; margin-bottom: 6px;}
#sweetNothingsDialog .sweetNothingsBubbles { padding: 4px; background-color: white; border: 1px solid #000; border-radius: 4px; }

#sweetNothingsConfigForm > div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#sweetNothingsConfigForm > div > * {
    margin-right: 8px;
}

.sweetNothingsFilePicker {
    flex: 1;
    display: flex;
}

.sweetNothingsPlayButton {
    width: 28px;
}

.sweetflexrow { align-content: center; flex-wrap: wrap;}

.sweetflexcol2 { flex-grow: 2; }
.sweetflexcol9 { flex-grow: 9; }

.sweetReply { margin: 4px; }

/* Remove Save Button From TCE Box */
.sweetNothingsMessageBox .editor button[title='Save'] {
    display: none;
}


#sweetNothingsDialogPanel {
    position: absolute;
    z-index: -1;
}

#sweetNothingsDialogPanel.collapsed {
    left: -20px;
    top: 45%;
}

#sweetNothingsDialogPanel > .sweetNothingsDialogToggle {
    height: 40px;
    width: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    background: url(/ui/parchment.jpg) repeat;
    color: #000;
    line-height: 41px;
    font-size: 23px;
}

#sweetNothingsDialogPanel.collapsed > .sweetNothingsDialogToggle > .collapseIcon {
    display: none;
}

#sweetNothingsDialogPanel.opened > .sweetNothingsDialogToggle > .expandIcon {
    display: none;
}


#sweetNothingsDialogPanel.collapsed.animate {
    animation-name: closing;
    animation-duration: 0.15s;
}

#sweetNothingsDialogPanel.collapsed > .sweetNothingsHistory {
    display: none;
}

#sweetNothingsDialogPanel.opened {
    left: -300px;
    width: 300px;
    height: 452px;
    top: 0px;
    margin-top: 30px;
}

#sweetNothingsDialogPanel.opened.animate {
    animation-name: opening;
    animation-duration: 0.5s;
}

#sweetNothingsDialogPanel.opened > .sweetNothingsDialogToggle {
    left: -19px;
    top: calc(50% - 40px);
}

.sweetNothingsHistory {
    background: url(/ui/parchment.jpg) repeat;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid #666;
    height: 452px;
    padding-left: 5px;
    padding-right: 5px;
    color: #000;
}

.sweetNothingsHistory > h3 {
    padding: 4px 0px 0px 5px;
}

.sweetNothingsHistory > ul {
    padding: 0px;
    height: 405px;
    overflow-y: scroll;
}

/* Panel Animations */
@keyframes opening {
    from { left: -20px; }
    to { left: -300px; }
}

@keyframes closing {
    from { left: -300px; }
    to { left: -20px; }
}